body{
    background-image: url("/images/city-dark-dawn-248159.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
}
p{
    font-size: 30 px;
    font-weight: bold;
}
/* .home {
    width: 40%;
    text-align: justify;
    align-items: center;
    margin: 0 auto;
    color: rgb(247, 243, 238);
}
.form {
    width: 90%;
    align-items: center;
    color: cornsilk;
    display: block;
}
h1 {
    width: 90%
    color; 
} */
.form{
    display: flex;
    flex-direction: column;
    border: 2px solid #b2fcff;
    padding: 30px;
}

.row p{
    font-size: 20px;
    background-blend-mode: lighten;
}